/* 自定义字体: A019-SounsoQuality */
@font-face {
  font-family: 'A019-SounsoQuality';
  src: url('A019-SounsoQuality.woff2') format('woff2'),
       url('A019-SounsoQuality.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 自定义字体: DolceVitaLight */
@font-face {
  font-family: 'DolceVitaLight';
  src: url('DolceVitaLight.woff2') format('woff2'),
       url('DolceVitaLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 自定义字体: DreamOrphans */
@font-face {
  font-family: 'DreamOrphans';
  src: url('DreamOrphans-Regular.woff2') format('woff2'),
       url('DreamOrphans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DreamOrphans';
  src: url('DreamOrphans-Italic.woff2') format('woff2'),
       url('DreamOrphans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DreamOrphans';
  src: url('DreamOrphans-Bold.woff2') format('woff2'),
       url('DreamOrphans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DreamOrphans';
  src: url('DreamOrphans-BoldItalic.woff2') format('woff2'),
       url('DreamOrphans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* 自定义字体: Mont */
@font-face {
  font-family: 'Mont';
  src: url('Mont-ExtraLightDEMO.woff2') format('woff2'),
       url('Mont-ExtraLightDEMO.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('Mont-HeavyDEMO.woff2') format('woff2'),
       url('Mont-HeavyDEMO.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* header底部border */
@media screen and (min-width: 750px) {
  .section--full-width.section--full-width-margin > * {
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.24);
  }
}

/* 价格自定义样式 */
product-price .price {
  font-family: var(--price-font, inherit);
  font-size: var(--price-font-size, inherit);
  color: var(--price-color, inherit);
}

product-price .compare-at-price {
  font-family: var(--compare-price-font, inherit);
  font-size: var(--compare-price-font-size, inherit);
  color: var(--compare-price-color, inherit);
}

product-price .price-save {
  font-family: var(--save-font, inherit);
  font-size: var(--save-font-size, inherit);
  color: var(--save-color, inherit);
}

@media screen and (max-width: 749px) {
  product-price .price {
    font-size: var(--price-font-size-mobile, var(--price-font-size, inherit));
    color: var(--price-color-mobile, var(--price-color, inherit));
  }

  product-price .compare-at-price {
    font-size: var(--compare-price-font-size-mobile, var(--compare-price-font-size, inherit));
    color: var(--compare-price-color-mobile, var(--compare-price-color, inherit));
  }

  product-price .price-save {
    font-size: var(--save-font-size-mobile, var(--save-font-size, inherit));
    color: var(--save-color-mobile, var(--save-color, inherit));
  }
}
