/* 自定义字体: A019-SounsoQuality */
@font-face {
  font-family: 'A019-SounsoQuality';
  src: url('A019-SounsoQuality.woff2') format('woff2'),
       url('A019-SounsoQuality.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media screen and (min-width: 750px) {
  .section--full-width.section--full-width-margin > * {
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.24);
  }
}
